*.synctex.gz
*.dvi
*.log
*.blg
*.aux
*.zip
*.bak
.dropbox
*.pyc
.~lock*#
.coverage
toposort-1.0
work-files
*conflicted copy*
after-ijcai13.pdf
after-ijcai13.aux
Next coding steps.oo3
genBNtable-old.py
genBNtable-ipnb.py
table1.tex
tab1plogp.tex
Icon*
ref-after-ijcai.pdf
ilp2014-comments.pdf
ilp2014.pdf
ilp2014-revise-version*.pdf
means*
dd.sh
