*.synctex.gz
*.log
*.blg
*.zip
*.bak
.dropbox
*.pyc
.~lock*#
*conflicted copy*
after-ijcai13.pdf
after-ijcai13.aux
Next coding steps.oo3
genBNtable-old.py
genBNtable-ipnb.py
table1.tex
tab1plogp.tex
Icon*
ref-after-ijcai.pdf
